@import "mixin";

.index-review-status {
  padding: 14px 0;
}

.index-review-status a {
  display: inline-block;
  padding: 6px 0;
  width: 40%;
  font-size: .75rem;
  text-align: center;
  color: $mainGreen;
  background: rgb(250, 250, 250);
  border: 1px solid $mainGreen;
}

.index-review-status a.active {
  color: rgb(250, 250, 250);
  background: $mainGreen;
  border: 1px solid $mainGreen;
}

.index-review-status a:first-of-type {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.index-review-status a:last-of-type {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.index-project-list ul {
  padding: 0 14px;
}
.index-project-list ul.reviewed-ul {
  display: none;
}

.index-project-list ul li {
  background: white;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 6px 0;
  border-radius: 4px;
  color: rgb(36, 36, 36);
}

.index-project-list ul li span:first-of-type {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 2;
}

.index-project-list ul li span:nth-of-type(2) {
  flex: 7;
  padding: 0 10px;
}
.index-project-list ul li span:last-of-type {
  padding: 4px;
  flex: 1;
}
